ceo {
  --base: #23202c;
  --s: #110f1a;
  --s: #1a1723;
  --s: #23202c;
  --s: #2c2935;
}
google {
  --c-0: #0a0a0a;
  --c-1: #181818;
  --c-2: #262626;
  --c-3: #343434;
  --c-4: #424242;
  --c-5: #505050;
  --c-6: #6e6e6e;
  --c-7: #7c7c7c;
  --c-8: #8a8a8a;
  --c-9: #989898;
  --c-a: #a6a6a6;
  --c-b: #b4b4b4;
  --c-c: #c2c2c2;
  --c-d: #d0d0d0;
  --c-e: #efefef;
  --c-f: #fcfcfc;
}

base {
  --c-0: #0f0f0f;
  --c-1: #1e1e1e;
  --c-2: #2d2d2d;
  --c-3: #3c3c3c;
  --c-4: #4b4b4b;
  --c-5: #5a5a5a;
  --c-6: #696969;
  --c-7: #787878;
  --c-8: #878787;
  --c-9: #969696;
  --c-a: #a5a5a5;
  --c-b: #b4b4b4;
  --c-c: #c3c3c3;
  --c-d: #d2d2d2;
  --c-e: #e1e1e1;
  --c-f: #f0f0f0;
}

base {
  --c-0: #0a0a0a;
  --c-1: #141414;
  --c-2: #2e2e2e;
  --c-3: #383838;
  --c-4: #414141;
  --c-5: #5b5b5b;
  --c-6: #666;
  --c-7: #777;
  --c-8: #888;
  --c-9: #999;
  --c-a: #aaa;
  --c-b: #bbb;
  --c-c: #ccc;
  --c-d: #ddd;
  --c-e: #eee;
  --c-f: #fff;
}

base {
  --c-0: #000;
  --c-1: #111;
  --c-2: #222;
  --c-3: #333;
  --c-4: #444;
  --c-5: #555;
  --c-6: #666;
  --c-7: #777;
  --c-8: #888;
  --c-9: #999;
  --c-a: #aaa;
  --c-b: #bbb;
  --c-c: #ccc;
  --c-d: #ddd;
  --c-e: #eee;
  --c-f: #fff;
}
